---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Sri Saravan Rubber and Plastics
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Welcome to our company, a leading manufacturer of high-quality extruded
        rubber products. With years of experience and expertise in the industry,
        we specialize in designing, developing, and producing a wide range of
        rubber extrusions that cater to the diverse needs of our customers. Our
        state-of-the-art facilities and advanced technology ensure that our
        products are manufactured to the highest standards, providing superior
        performance and durability. We are committed to delivering exceptional
        customer service, and our team of experienced professionals works
        closely with our clients to ensure that their specific requirements are
        met. Thank you for considering our company for your extruded rubber
        product needs.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Over the past 25 years, Sri saravana Rubber Products has earned the
        reputation for manufacturing high-quality, high-performance custom
        extruded parts for our customers. As a partner with our customers, we
        are committed to providing custom extrusions that meet or exceed the
        most demanding specifications.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Leading manufacturer of high-quality extruded rubber products. With
        years of experience and expertise in the industry, we specialize in
        designing, developing, and producing a wide range of rubber extrusions
        that cater to the diverse needs of our customers. Our state-of-the-art
        facilities and advanced technology ensure that our products are
        manufactured to the highest standards, providing superior performance
        and durability. We are committed to delivering exceptional customer
        service, and our team of experienced professionals works closely with
        our clients to ensure that their specific requirements are met. Thank
        you for considering our company for your extruded rubber product needs.
      </p>
    </div>
    <!-- <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">
                {teamMemberEntry.data.name}
              </h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div> -->
  </Container>
</Layout>
