---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Materials",
    path: "#",
    children: [
      { title: "Silicone", path: "#" },
      { title: "HNBR", path: "#" },
      { title: "Chloroprene/Neoprene", path: "#" },
      { title: "EPDM", path: "#" },
      { title: "Transit Grade Rubber", path: "#" },
      { title: "BUNA-N", path: "#" },
      { title: "Natural Rubber", path: "#" },
      { title: "Fluoroelastomer", path: "#" },
      { title: "SBR", path: "#" },
    ],
  },
  {
    title: "Products",
    path: "#",
    children: [
      { title: "Extruded Profiles", path: "#" },
      { title: "Tubing & Cord", path: "#" },
      { title: "Gaskets & Seals", path: "#" },
      { title: "Formed Hose", path: "#" },
      { title: "Lathe Cut Washers", path: "#" },
    ],
  },
  {
    title: "Capabilities",
    path: "#",
    children: [
      { title: "Curing Methods", path: "#" },
      { title: "Design Assistance", path: "#" },
      { title: "Rubber & Silicone Extrusion", path: "#" },
      { title: "Value-Added Services", path: "#" },
    ],
  },
  // {
  //   title: "Specifications",
  //   path: "#",
  //   children: [
  //   {title: "ASTM E 162-13", path:"#"},
  //   {title: "ASTM C 1166-06", path:"#"},
  //   {title: "ASTM E 662-14", path:"#"},
  //   {title: "ASTM E 1354-15", path:"#"},
  //   {title: "SMP 800-C", path:"#"},
  //   {title: "NFPA-130", path:"#"},
  //   {title: "BSS 7239", path:"#"},
  //   ],
  // },
  // {
  //   title: "Blog",
  //   path: "/blog",
  // },
  // {
  //   title: "Pricing",
  //   path: "/pricing",
  // },
  {
    title: "About",
    path: "/about",
  },
  
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800">Sri Saravana</span><span
            class="text-slate-500">
            Rubber and Plastics</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="/quote" size="md" block>Get a Quote</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link href="/quote" size="md">Get a Quote</Link>
      </div>
    </div>
  </header>
</Container>
