---
import { Icon } from "astro-icon";
---

<div>
    <h2 class="font-medium text-2xl text-gray-800">Contact <br> Sri Saravana Rubbers & Plastics</h2>
    <p class="text-lg leading-relaxed text-slate-500 mt-3">
      Have something to say? We are here to help. Fill up the form or send
      email or call phone.
    </p>
    <div class="mt-5">
      <div class="flex items-center mt-2 space-x-2 text-gray-600">
        <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
        <span>No:22/2, Rangasai 1st street <br> Perambur chennai - 600011</span>
      </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
        <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
          href="mailto:hello@astroshipstarter.com"
          >ssruberchennai@gmail.com</a
        >
      </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
        <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
          href="tel:9382821619">95438 21619</a
        >
      </div>
      <div class="flex items-center mt-2 space-x-2 text-gray-600">
        <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
          href="tel:9382821619">81448 21619</a
        >
      </div>
    </div>
  </div>