---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Products",
    description:
      "Quality Rubber Products and plastic for Any Application, The best products are developed and delivered when we truly understand your application needs. We'll thoroughly analyze your needs to recommend the most effective material, even if it requires custom formation for the most complicated applications and/or processes. We can process base polymers to customer specifications, including:",
    icon: "bx:bxs-briefcase",
    // children: [
    //   "MOULDED EXTRUDED RUBBER PRODUCTS",
    //   "RUBBERISING",
    //   "POLYURETHISING OF ENGINEERING PRODUCTS.",
    //   "RUBBER ROLLERS.",
    //   "DIAPHRAGMS & BELLOWS.",
    //   "'O' - RINGS & OIL SEALS IN ALL GRADES OF RUBBERS",
    //   "SEALS - U.V. TYPE.",
    // ],
  },
  {
    title: " Capabilities",
    description:
      " Our rubber product capabilities include:Injection, compression and transfer molding	 Rubber-bonded-to-metal Custom extruded profiles available in continuous lengths or cut to length Fabricated and die-cut products Lathe cut gaskets and washers Custom-engineered PVC parts for specific applications Sponge rubber",
    icon: "bx:bxs-window-alt",
//     children: [
//       // "HEAT RESISTANCE TEFLON PRODUCTS",
//       // "TEFLON FLAKES, SEALS, 'O'-RINGS, BUSHES",
//       // "FOOD GRADE SILICON EXTRUDED PRODUCTS",
//       // "INDUSTRIAL PLASTIC COMPONENTS.",
//       // "INDUSTRIAL CONVEYOR, TRANSMISSION BELTS, V.BELTS,",
//       // "FLEXIBLE LOW | HIGH TEMPERATURE LIGHT WEIGHT HOSES & DUCTS.",
//       // "SLICON TUBE",
//       // "ALL TYPE OF RUBBER CHORDS.",
// // "Our rubber product capabilities include:",
// // "Injection, compression and transfer molding",
// // "Rubber-bonded-to-metal",
// // "Custom extruded profiles available in continuous lengths or cut to length",
// // "Fabricated and die-cut products",
// // "Lathe cut gaskets and washers",
// // "Custom-engineered PVC parts for specific applications",
// // "Sponge rubber",
//     ],
  },
  {
    title: "Materials",
    description:
      "We offer a broad selection of standard rubber formulations and compounds that meet most applications' requirements. For projects that require custom formulations, we can formulate a compound that will meet your requirements. Some of the extruded rubber materials we provide include EPDM, Chloroprene (Neoprene®), silicone, nitrile, natural rubber, SBR, and fluoroelastomers including FKM (Viton®). We can offer custom compounds to meet industry and regulatory certifications and standards. We are also ISO 9001:2015 Certified.",
    icon: "bx:bxs-data",
    
  },
 
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need in one place
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We work closely with our customers to understand their challenges so we can provide them with customized solutions. 
    Our team of experts helps you maximize engineering methods, product performance, and quality and delivery requirements for even the most complicated applications. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
        </div>
      </div>
    ))
  }
</div>
